.helvetica(@color, @size){
	font-family:sans-serif;
	font-weight:normal;
	color:@color;
	font-size:@size;
}

.helveticaBold(@color, @size){
	font-family:sans-serif;
	font-weight:bold;
	color:@color;
	font-size:@size;
}