.form{
	margin-bottom:80px;
	padding-bottom:40px;
	*[type="hidden"]{
		display:none;
	}
	.article{
		.title.ml{
			margin-bottom:25px;
		}

		&.centered{
			padding:0px 15px;
			@media only screen and (max-width:@mobile){
				.list.dash{
					li{
						a{
							display:block;
						}
					}
				}
			}
		}
	}
	
	// Items needed as groups only on mobile
	.mobileGroup{
		display:inline;
	}
	
	// Lists enclosing the inputs
	.scope{
		li{
			list-style-type: none;
			min-height:34px;
			line-height:34px;
			margin-bottom:11px;
			position:relative;
			label, input, select, textarea{
				.inline-block();
				line-height:1;
				vertical-align: middle;
			}
			&.top{
				label, textarea{
					vertical-align: top;
				}
				label{
					padding-top:5px;
				}
			}
			.legend{
				.helvetica(#878787, 14px);
				font-style: italic;
			}
		}

		&.tight{
			width:90%;
			margin:0 auto;
			@media only screen and (max-width:955px){
				width:95%;
			}
		}

		&.pad{
			padding:0px 30px;
			@media only screen and (max-width:@mobile){
				padding: 0px;
			}
		}

		&.checkboxes{
			li{
				line-height:1;
				min-height:0px;
				margin-bottom:20px;
				input[type='checkbox']{
					position:absolute;
					left:0px;
					top:4px;
					z-index:2;
					display:block;
					margin:0px;
				}
				label{
					padding-left:20px;
					display:block;
				}
			}
		}

		&.aligned{
			label{
				width:100px;
				text-align:right;
				margin-left:0px;
				white-space: nowrap;
				&.radioLabel, &.checkLabel{
					width:auto;
					text-align: left;
					margin-left:10px;
				}
			}
			&.large{
				label{
					width:140px;
					&.radioLabel, &.checkLabel{
						width:auto;
						text-align: left;
						margin-left:10px;
					}
				}
			}
			input[type='email']{
				width:280px;
			}
			textarea{
				width:340px;
			}
			input[name='cp']{
				width:70px;
			}
			@media only screen and (max-width:815px){
				li{
					display:table;
					width:100%;
					.mobileGroup{
						display: table-cell;
						width:50%;
					}
				}
				label{
					display:block;
					width:100%;
					text-align: left;
					margin-bottom:5px;
					&.radioLabel{
						.inline-block();
						width:auto;
						margin-bottom:0px;
					}
				}
				input[type='text']{
					width:90%;
					&.legended{
						width:70%;
					}
				}
			}
			@media only screen and (max-width: @mobile){
				li{
					display:block;
					.clearfix();
					.mobileGroup{
						display: block;
						width:100%;
						margin-bottom:10px;
					}
				}
				label{
					display:block;
					width:100%;
					text-align: left;
					margin-bottom:5px;
				}
				input[type='text'], input[type='email'], textarea{
					width:100%;
					&.legended{
						width:100%;
					}
				}

				.ttip.solo{
					position:absolute;
					right:15px;
					top:33px;
					display:block;
					height:16px;
				}
			}
		}
	}

	// Input styles

	label{
		.helveticaBold(#363636, 18px);
		margin:0 20px;
		&.noBold{
			font-weight: normal;
		}
		abbr{
			color:@red;
			text-decoration: none;
			border:0px;
			font-weight: normal;
		}
		.ttip{
			.helveticaBold(#363636, 18px);
			text-decoration:none;
		}
		&.checkLabel{
			.helvetica(#363636, 18px);
			margin:0px 10px;
		}

		&.radioLabel{
			.helvetica(#363636, 18px);
			margin:0px 10px;
		}
		&.error{
			color:#f01d19;
		}
	}

	input[type='text'], input[type='email']{
		height:34px;
		background: @white;
		border:#e4e4e4;
		.border-radius(2px);
		.box-shadow(0px 0px 0px transparent);
		border:2px solid #e4e4e4;
		padding:0px 5px;
		.helvetica(@black, 14px);
		.transition(all 200ms ease-in-out);
		&:active, &:focus{
			outline:0px;
			border-color:#757e92;
		}
		&.error{
			border-color:#f01d19;
		}
	}
	textarea{
		height:70px;
		background: @white;
		border:#e4e4e4;
		.border-radius(2px);
		.box-shadow(0px 0px 0px transparent);
		border:2px solid #e4e4e4;
		padding:5px 5px;
		.helvetica(@black, 14px);
		.transition(all 200ms ease-in-out);
		resize:none;
		&:active, &:focus{
			outline:0px;
			border-color:#757e92;
		}
		&.large{
			width:100%;
			height:120px;
		}
	}

	input[type='submit']{
		.inline-block();
		padding:20px;
		text-align:center;
		-webkit-appearance:none;
		border:0px;
		.border-radius(10px);
		min-width:300px;
		background:#737c90;
		.helvetica(@white, 22px);
		line-height:1.3;
		.box-shadow(0px 0px 0px transparent);
		text-transform: uppercase;
		margin-bottom:100px;
		cursor:pointer;
		.transition(all 200ms ease-in-out);
		&:hover{
			background:#3b4154;
		}
		@media only screen and (max-width:@mobile){
			margin-bottom:50px;
		}
	}

	#regionSwitch{
		.clearfix();
		.switch{
			display:block;
			width:47%;
			float:left;
			height:116px;
			.border-radius(10px);
			line-height: 116px;
			text-align:right;
			padding:0px 40px;
			background-color:@white;
			background-position: top left;
			background-repeat:no-repeat;
			border:4px solid #e4e4e4;
			position:relative;
			.transition(all 200ms ease-in-out);
			&.error{
				span.text{
					color:#f01d19;
				}
			}
			&:last-child{
				float:right;
			}
			&:hover{
				border-color:#757e92;
				span{
					color:@black;
				}
			}
			&:after{
				content:" ";
				display:block;
				width:43px;
				height:43px;
				background:@white url("../img/form/tick.png") center center no-repeat;
				border:4px solid #757e92;
				.border-radius(999px);
				position:absolute;
				top:-10px;
				right:-10px;
				.opacity(0);
				.transition(all 200ms ease-in-out);
			}
			span.text{
				.inline-block();
				line-height: 1;
				vertical-align: middle;
				text-align:left;
				.helveticaBold(#919295, 20px);
				text-decoration: none;
				.transition(all 200ms ease-in-out);
				position: relative;
				z-index:4;
			}
			span.active{
				display:block;
				position:absolute;
				top:0px;
				left:0px;
				height:100%;
				width:100%;
				z-index:1;
				background-position: top left;
				background-repeat: no-repeat;
				.transition(all 200ms ease-in-out);
				.opacity(0);
			}
			&.paris{
				background-image:url("../img/form/parisOFF.png");
				span.active{
					background-image:url("../img/form/parisON.png");
				}
			}
			&.azur{
				background-image:url("../img/form/azurOFF.png");
				span.active{
					background-image:url("../img/form/azurON.png");
				}
			}
			&.active{
				background-color:#f7f7f2;
				border-color:#757e92;
				&:after{
					.opacity(1);
				}
				span.text{
					color:@black;
				}

				span.active{
					.opacity(1);
				}
			}
		}

		@media only screen and (max-width: @tablet){
			.switch{
				padding-right: 20px;
				&.paris{
					background-position:-70px 0px;
					span.active{
						background-position:-70px 0px;
					}
				}
			}
		}
		@media only screen and (max-width: @mobile){
			.switch{
				padding:0px;
				text-align:center;
				height:70px;
				line-height:65px;
				span{
					text-align:center;
				}
				&.paris, &.azur{
					background:@white;
					&.active{
						background:#f7f7f2;
						span.active{
							display:none;
						}
					}
				}
			}
		}
	}
}
