// Round-shaped videos
.roundVideo{
	width:180px;
	height:180px;
	border:7px solid #eaeae8;
	background:#eaeae8;
	overflow:visible;
	position:relative;
	.border-radius(9999px);

	.embed-container { 
		display:block;
		width:180px;
		height:180px;
		position: relative; 
		top: 0; 
		left: 0;
		.border-radius(9999px);
		background:#eaeae8;
		//-webkit-mask-image:url('../img/mask.svg');  /* Chrome, Safari */
		iframe, object, embed { 
			-webkit-mask-image:url('../img/mask.svg');  /* Chrome, Safari */
			background:#eaeae8;
			height:170px;
			width:170px;
			position:absolute;
			top:5px;
			left:5px;
			.border-radius(9999px);
			display:block;
		}
	} 


	.mute{
		display:block;
		position:absolute;
		bottom:5px;
		left:0px;
		width:40px;
		height:40px;
		.border-radius(9999px);
		background:#eaeae8 url("../img/soundOFF.png") center center no-repeat;
		text-indent:-99999px;
		ovevrlow:hidden;
		-webkit-appearance:none;
		.box-shadow(0px 0px 0px transparent);
		border:0px;
		z-index:2000;
		&.unmuted{
			background:#eaeae8 url("../img/soundON.png") center center no-repeat;
		}
		&:focus{
			outline:0px;
			border:0px;
		}
	}

	@media only screen and (max-width: @mobile){
		display:none;
	}
	/* TODO TEST IE & FALLBACKS */ 
}


.box{
	.clearfix();
	.roundVideo{
		float:right;
		display:table;
		right:-10px;
		bottom:-10px;
		@media only screen and (max-width: @mobile){
			display:none;
		}
	}
	@media only screen and (max-width: @mobile){
		padding-bottom:30px;
	}
}