---
title: Chauffeur-privé - B2B editorial
---
<div class="row">
	<h1 class="pageTitle xl indented">Je souhaite disposer d'un véhicule Chauffeur-privé</h1>
	<article class="article intro">
		<p><strong>Vous n’avez pas de véhicule&nbsp;? Aucun problème&nbsp;! </strong></p>
		<p>Chauffeur-Privé vous propose une offre clé en main, au meilleur prix possible, pour commencer à travailler rapidement.</p>
	</article>
</div>

<div class="rowFluid blueBG">
	<div class="row">
		<article class="slideContent solo">
			<div class="medium-4 columns left">
				<h2 class="title">Le chiffre d'affaires</h2>
				<%= image_tag "slides/CA.png", :alt=>"275€ par jour" %>
				<p>Chiffre d’affaires moyen de 250€ à 300€ pouvant être généré par un chauffeur pour 10h à 12h de travail par jour.</p>
			</div>
			<div class="medium-4 columns left">
				<h2 class="title">Votre part</h2>
				<%= image_tag "slides/part.png", :alt=>"80% du CA vous revient" %>
				<p>Chauffeur-Privé vous reverse 80% du CA généré, quelque soit le type de client ou le type de course.</p>
			</div>
			<div class="medium-4 columns left">
				<h2 class="title">La location</h2>
				<%= image_tag "slides/location.png", :alt=>"32,7€ par jour de location" %>
				<p>Pour une Peugeot 508 noire, automatique, aux vitres teintées, avec assurance pro et 6000&nbsp;km/mois inclus.</p>
			</div>
			<div class="small-12 columns">
				<article class="box">
					<section class="left">
						<h2>Les <abbr title="plus">+</abbr> de <strong>Chauffeur-privé</strong></h2>
					</section>
					<section class="right">
						<ul class="list">
							<li><strong>iPhone 4S</strong></li>
							<li>Cravates rouges</li>
							<li>Ardoise d’accueil Aéroport</li>
							<li>Badge ADP pour les parkings aéroport </li>
							<li>Chargeur Iphone 4/4S, 5 et 5S, Blackberry et Androïd</li>
							<li>Câble auxiliaire pour proposer au client d’écouter sa propre musique</li>
						</ul>
						<!-- Video here -->
						<div class="roundVideo">
							<button class="mute" >Activer ou couper le son</button>
						    <div class='embed-container'>
						        <div id="vid1" class="rounded-vid"></div>
						    </div>
						</div>
					</section>
				</article>
			</div>
		</article>
	</div>
</div>

<div class="row">
	<article class="article centered footer">
		<p><strong>Chez Chauffeur-Privé, pas de piège&nbsp;!</strong></p>
		<p>Nous faisons tout pour que vous aimiez votre métier autant que nous aimons le notre.</p>
		<%= link_to "JE SOUHAITE DEVENIR PARTENAIRE AVEC UN VÉHICULE CHAUFFEUR-PRIVÉ", "form2.html", :class=> "button" %>
	</article>
</div>