---
title: Chauffeur-privé - B2B FAQ
---

<div class="row">
	<h1 class="pageTitle xl indented">FAQ</h1>

	<article class="article material">
		<h2 class="title ml underlined">1. Chauffeur privé</h2>
		
		<dl class="dropdown">
			<dt><a href="#" class="trigger">Est-ce que Chauffeur-Privé sera mon employeur&nbsp;?</a></dt>
			<dd>
				<p>Lorem ipsum dolor sit amet, <strong>consectetur adipisicing</strong> elit. Omnis aliquam vel sint <em>illo corporis repudiandae dolorem</em> et expedita quo, dolor, ab vero eum. Fuga voluptate quia maxime praesentium nostrum eius.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">Praesentium laborum</a> dolor perferendis, rem, tempore sequi voluptas deleniti quod nihil possimus dolores, temporibus perspiciatis modi id obcaecati molestias blanditiis neque dolorem.</p>
			</dd>
			<dt><a href="#" class="trigger">Quelle est la zone d'opération de Chauffeur-privé&nbsp;?</a></dt>
			<dd>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis aliquam vel sint illo corporis repudiandae dolorem et expedita quo, dolor, ab vero eum. Fuga voluptate quia maxime praesentium nostrum eius.</p>
			</dd>
			<dt><a href="#" class="trigger">Suis-je obligé de travailler la nuit&nbsp;?</a></dt>
			<dd>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis aliquam vel sint illo corporis repudiandae dolorem et expedita quo, dolor, ab vero eum. Fuga voluptate quia maxime praesentium nostrum eius.</p>
			</dd>
			<dt><a href="#" class="trigger">Si vous me fournissez un iPhone, je n'ai plus besoin de téléphone personnel&nbsp;?</a></dt>
			<dd>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis aliquam vel sint illo corporis repudiandae dolorem et expedita quo, dolor, ab vero eum. Fuga voluptate quia maxime praesentium nostrum eius.</p>
			</dd>
			<dt><a href="#" class="trigger">Je ne comprends rien à tout ce jargon et ces papiers, allez-vous m'aider&nbsp;?</a></dt>
			<dd>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis aliquam vel sint illo corporis repudiandae dolorem et expedita quo, dolor, ab vero eum. Fuga voluptate quia maxime praesentium nostrum eius.</p>
			</dd>
		</dl>
	</article>

	<article class="article material">
		<h2 class="title ml underlined">2. Mon véhicule</h2>

		<dl class="dropdown">
			<dt><a href="#" class="trigger">Est-ce que Chauffeur-Privé sera mon employeur&nbsp;?</a></dt>
			<dd>
				<p>Lorem ipsum dolor sit amet, <strong>consectetur adipisicing</strong> elit. Omnis aliquam vel sint <em>illo corporis repudiandae dolorem</em> et expedita quo, dolor, ab vero eum. Fuga voluptate quia maxime praesentium nostrum eius.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">Praesentium laborum</a> dolor perferendis, rem, tempore sequi voluptas deleniti quod nihil possimus dolores, temporibus perspiciatis modi id obcaecati molestias blanditiis neque dolorem.</p>
			</dd>
			<dt><a href="#" class="trigger">Quelle est la zone d'opération de Chauffeur-privé&nbsp;?</a></dt>
			<dd>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis aliquam vel sint illo corporis repudiandae dolorem et expedita quo, dolor, ab vero eum. Fuga voluptate quia maxime praesentium nostrum eius.</p>
			</dd>
			<dt><a href="#" class="trigger">Suis-je obligé de travailler la nuit&nbsp;?</a></dt>
			<dd>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis aliquam vel sint illo corporis repudiandae dolorem et expedita quo, dolor, ab vero eum. Fuga voluptate quia maxime praesentium nostrum eius.</p>
			</dd>
			<dt><a href="#" class="trigger">Si vous me fournissez un iPhone, je n'ai plus besoin de téléphone personnel&nbsp;?</a></dt>
			<dd>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis aliquam vel sint illo corporis repudiandae dolorem et expedita quo, dolor, ab vero eum. Fuga voluptate quia maxime praesentium nostrum eius.</p>
			</dd>
			<dt><a href="#" class="trigger">Je ne comprends rien à tout ce jargon et ces papiers, allez-vous m'aider&nbsp;?</a></dt>
			<dd>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis aliquam vel sint illo corporis repudiandae dolorem et expedita quo, dolor, ab vero eum. Fuga voluptate quia maxime praesentium nostrum eius.</p>
			</dd>
		</dl>
	</article>

	<article class="article material">
		<h2 class="title ml underlined">3. La facturation</h2>

		<dl class="dropdown">
			<dt><a href="#" class="trigger">Est-ce que Chauffeur-Privé sera mon employeur&nbsp;?</a></dt>
			<dd>
				<p>Lorem ipsum dolor sit amet, <strong>consectetur adipisicing</strong> elit. Omnis aliquam vel sint <em>illo corporis repudiandae dolorem</em> et expedita quo, dolor, ab vero eum. Fuga voluptate quia maxime praesentium nostrum eius.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">Praesentium laborum</a> dolor perferendis, rem, tempore sequi voluptas deleniti quod nihil possimus dolores, temporibus perspiciatis modi id obcaecati molestias blanditiis neque dolorem.</p>
			</dd>
			<dt><a href="#" class="trigger">Quelle est la zone d'opération de Chauffeur-privé&nbsp;?</a></dt>
			<dd>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis aliquam vel sint illo corporis repudiandae dolorem et expedita quo, dolor, ab vero eum. Fuga voluptate quia maxime praesentium nostrum eius.</p>
			</dd>
			<dt><a href="#" class="trigger">Suis-je obligé de travailler la nuit&nbsp;?</a></dt>
			<dd>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis aliquam vel sint illo corporis repudiandae dolorem et expedita quo, dolor, ab vero eum. Fuga voluptate quia maxime praesentium nostrum eius.</p>
			</dd>
			<dt><a href="#" class="trigger">Si vous me fournissez un iPhone, je n'ai plus besoin de téléphone personnel&nbsp;?</a></dt>
			<dd>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis aliquam vel sint illo corporis repudiandae dolorem et expedita quo, dolor, ab vero eum. Fuga voluptate quia maxime praesentium nostrum eius.</p>
			</dd>
			<dt><a href="#" class="trigger">Je ne comprends rien à tout ce jargon et ces papiers, allez-vous m'aider&nbsp;?</a></dt>
			<dd>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis aliquam vel sint illo corporis repudiandae dolorem et expedita quo, dolor, ab vero eum. Fuga voluptate quia maxime praesentium nostrum eius.</p>
			</dd>
		</dl>
	</article>
</div>