---
title: Chauffeur-privé - B2B form
---

<div class="row">
	<h1 class="pageTitle xl indented">Inscription avec demande de véhicule 
		<%= link_to "Changer de catégorie", 'select.html', :class=>"titleLink" %>
	</h1>
	
	<article class="row padding">
		<form id="mainForm" action="#" name="mainForm" class="form">

			<section class="article material">
				<h2 class="title ml underlined">1. Informations personnelles</h2>
				<ul class="scope tight aligned">
					<li>
						<div class="mobileGroup"><label for="nom">Nom<abbr title="obligatoire">*</abbr></label>
						<input type="text" id="nom" name="nom" /></div>
						<div class="mobileGroup"><label for="prenom">Prénom<abbr title="obligatoire">*</abbr></label>
						<input type="text" id="prenom" name="prenom" /></div>
					</li>
					<li>
						<label for="email">Email<abbr title="obligatoire">*</abbr></label>
						<input type="email" id="email" name="email" />
					</li>
					<li>
						<label for="phone">Téléphone<abbr title="obligatoire">*</abbr></label>
						<input type="text" id="phone" name="phone" />
					</li>
					<li class="top">
						<label for="adresse">Adresse<abbr title="obligatoire">*</abbr></label>
						<textarea id="adresse" name="adresse"></textarea>
					</li>
					<li>
						<div class="mobileGroup"><label for="cp">CP<abbr title="obligatoire">*</abbr></label>
						<input type="text" id="cp" name="cp" /></div>
						<div class="mobileGroup"><label for="ville">Ville<abbr title="obligatoire">*</abbr></label>
						<input type="text" id="ville" name="ville" /></div>
					</li>
				</ul>
			</section>

			<section class="article material">
				<h2 class="title ml underlined">2. Informations relatives au transport de personnes <span class="smaller">(plusieurs réponses possibles)</span></h2>
				<ul class="scope pad checkboxes">
					<li>
						<input type="checkbox" name="vtc" id="vtc" value="Carte VTC"/>
						<label for="vtc" class="checkLabel">Je suis titulaire de la <span class="ttip left" rel="tooltip" title="Atout France est l'organisme qui est responsable du registre des exploitants de voiture de tourisme avec chauffeur">Carte VTC</span> ou <span class="ttip left" rel="tooltip" title="Atout France est l'organisme qui est responsable du registre des exploitants de voiture de tourisme avec chauffeur">Grande Remise</span></label>
					</li>
					<li>
						<input type="checkbox" name="atout" id="atout" value="Immatriculé atout France"/>
						<label for="atout" class="checkLabel">Je suis immatriculé auprès de <span class="ttip left" rel="tooltip" title="Atout France est l'organisme qui est responsable du registre des exploitants de voiture de tourisme avec chauffeur">Atout France</span></label>
					</li>
					<li>
						<input type="checkbox" name="immat" id="immat" value="Dossier atout france en cours"/>
						<label for="immat" class="checkLabel">J'ai déposé un dossier auprès de <span class="ttip left" rel="tooltip" title="Atout France est l'organisme qui est responsable du registre des exploitants de voiture de tourisme avec chauffeur">Atout France</span> et j'attends mon immatriculation</label>
					</li>
					<li>
						<input type="checkbox" name="immatNo" id="immatNo" value="Dossier atout france non rempli"/>
						<label for="immatNo" class="checkLabel">Je n'ai pas encore déposé de demande d'immatriculation auprès de <span class="ttip left" rel="tooltip" title="Atout France est l'organisme qui est responsable du registre des exploitants de voiture de tourisme avec chauffeur">Atout France</span> et j'attends mon immatriculation</label>
					</li>
					<li>
						<input type="checkbox" name="capa" id="capa" value="Capacité de transport"/>
						<label for="capa" class="checkLabel">Je suis titulaire de la <span class="ttip left" rel="tooltip" title="Atout France est l'organisme qui est responsable du registre des exploitants de voiture de tourisme avec chauffeur">Capacité de transport</span></label>
					</li>
					<li>
						<input type="checkbox" name="taxi" id="taxi" value="Chauffeur de taxi"/>
						<label for="taxi" class="checkLabel">Je suis conducteur de Taxi et souhaite devenir VTC</label>
					</li>
					<li>
						<input type="checkbox" name="formation" id="formation" value="je souhaite être formé"/>
						<label for="fromation" class="checkLabel">Je souhaite suivre la formation pour obtenir la carte professionnelle de chauffeur VTC</label>
					</li>
					<li>
						<input type="checkbox" name="other" id="other" value="Autre"/>
						<label for="other" class="checkLabel">Autre</label></li>
				</ul>
			</section>

			<section class="article material">
				<h2 class="title ml underlined">3. Informations de facturation</h2>
				<ul class="scope pad aligned large">
					<li>
						<label>Status<abbr>*</abbre></label>
						<input type="radio" name="status" value="auto-entrepreneur" id="AE"/><label class="radioLabel" for="AE">Auto-entrepreneur</label><hr class="mobileBreak"/>
						<input type="radio" name="status" value="société" id="soc"/><label class="radioLabel" for="soc">Société</label><hr class="mobileBreak"/>
						<input type="radio" name="status" value="aucun" id="null"/><label class="radioLabel" for="null">Aucun</label><hr class="mobileBreak"/>
					</li>
					<li>
						<label for="siren" class="noBold">N° SIRET/SIREN</label>
						<input type="text" id="siren" name="siren" class="legended"/><span class="ttip left solo" rel="tooltip" title="Atout France est l'organisme qui est responsable du registre des exploitants de voiture de tourisme avec chauffeur"></span><span class="legend">(facultatif)</span>
					</li>
					<li>
						<label for="rcs" class="noBold">N° RCS</label>
						<input type="text" id="rcs" name="rcs" class="legended"/><span class="ttip left solo" rel="tooltip" title="Atout France est l'organisme qui est responsable du registre des exploitants de voiture de tourisme avec chauffeur"></span><span class="legend">(facultatif)</span>
					</li>
					<li>
						<label for="ape" class="noBold">CODE APE</label>
						<input type="text" id="ape" name="ape" class="legended"/><span class="ttip left solo" rel="tooltip" title="Atout France est l'organisme qui est responsable du registre des exploitants de voiture de tourisme avec chauffeur"></span><span class="legend">(facultatif)</span>
					</li>
					<li>
						<label for="tva" class="noBold">N° TVA</label>
						<input type="text" id="tva" name="tva" class="legended"/><span class="ttip left solo" rel="tooltip" title="Atout France est l'organisme qui est responsable du registre des exploitants de voiture de tourisme avec chauffeur"></span><span class="legend">(facultatif)</span>
					</li>

				</ul>
			</section>

			<section class="article material">
				<h2 class="title ml underlined">4. Message ou informations complémentaires <span class="smaller">(facultatif)</span></h2>
				<textarea id="largeMessage" name="message" class="large"></textarea>
			</section>

			<section class="article centered">
				<input type="submit" value="Valider" />
			</section>
		</form>
	</article>
</div>