---
title: Chauffeur-privé - B2B form
---

<div class="row">
	<h1 class="pageTitle xl indented">Inscription Chauffeur Eco 
		<%= link_to "Changer de catégorie", 'choice.html', :class=>"titleLink" %>
	</h1>
	
	<article>
		<form id="mainForm" action="#" name="mainForm" class="form">
			<section class="article material">
				<h2 class="title ml underlined">1. Choix de la région</h2>

				<div id="regionSwitch">
					<a href="#" data-value="paris" class="switch paris">
						<span>Région <br/>Parisienne</span>
					</a>

					<a href="#" data-value="azur" class="switch azur">
						<span>Côte d'Azur</span>
					</a>
				</div>

				<select name="region" id="region" type="hidden">
					<option value=""></option>
					<option value="paris">Région Parisienne</option>
					<option value="azur">Côte d'Azur</option>
				</select>
			</section>

			<section class="article material">
				<h2 class="title ml underlined">2. Informations personnelles</h2>
				<ul class="scope tight">
					<li>
						<label for="nom">Nom<abbr title="obligatoire">*</abbr></label>
						<input type="text" id="nom" name="nom" />
						<label for="prenom">Prénom<abbr title="obligatoire">*</abbr></label>
						<input type="text" id="prenom" name="prenom" />
					</li>
					<li>
						<label for="email">Email<abbr title="obligatoire">*</abbr></label>
						<input type="email" id="email" name="email" />
					</li>
					<li>
						<label for="phone">Téléphone<abbr title="obligatoire">*</abbr></label>
						<input type="text" id="phone" name="phone" />
					</li>
					<li>
						<label for="adresse">Adresse<abbr title="obligatoire">*</abbr></label>
						<textarea id="adresse" name="adresse"></textarea>
					</li>
					<li>
						<label for="cp">CP<abbr title="obligatoire">*</abbr></label>
						<input type="text" id="cp" name="cp" />
						<label for="ville">Ville<abbr title="obligatoire">*</abbr></label>
						<input type="text" id="ville" name="ville" />
					</li>
				</ul>
			</section>

			<section class="article material">
				<h2 class="title ml underlined">3. Informations relatives au transport de personnes <span class="smaller">(plusieurs réponses possibles)</span></h2>
				<ul class="scope pad">
					<li><input type="checkbox" name="vtc" id="vtc" value="Carte VTC"/><label for="vtc" class="checkLabel">Je suis titulaire de la <a href="#" class="ttip">Carte VTC</a> ou <a href="#" class="ttip">Grande Remise</a></label></li>
					<li><input type="checkbox" name="atout" id="atout" value="Immatriculé atout France"/><label for="atout" class="checkLabel">Je suis immatriculé auprès de <a href="#" class="ttip">Atout France</a></label></li>
					<li><input type="checkbox" name="immat" id="immat" value="Dossier atout france en cours"/><label for="immat" class="checkLabel">J'ai déposé un dossier auprès de <a href="#" class="ttip">Atout France</a> et j'attends mon immatriculation</label></li>
					<li><input type="checkbox" name="immatNo" id="immatNo" value="Dossier atout france non rempli"/><label for="immatNo" class="checkLabel">Je n'ai pas encore déposé de demande d'immatriculation auprès de <a href="#" class="ttip">Atout France</a> et j'attends mon immatriculation</label></li>
					<li><input type="checkbox" name="capa" id="capa" value="Capacité de transport"/><label for="capa" class="checkLabel">Je suis titulaire de la <a href="#" class="ttip">Capacité de transport</a></label></li>
					<li><input type="checkbox" name="taxi" id="taxi" value="Chauffeur de taxi"/><label for="taxi" class="checkLabel">Je suis conducteur de Taxi et souhaite devnir VTC</label></li>
					<li><input type="checkbox" name="formation" id="formation" value="je souhaite être formé"/><label for="fromation" class="checkLabel">Je souhaite suivre la formation pour obtenir la carte professionnelle de chauffeur VTC</label></li>
					<li><input type="checkbox" name="other" id="other" value="Autre"/><label for="other" class="checkLabel">Autre</label></li>
				</ul>
			</section>

			<section class="article material">
				<h2 class="title ml underlined">4. Informations de facturation</h2>
				<ul class="scope pad">
					<li>
						<label>Status<abbr>*</abbre></label>
						<input type="radio" name="status" value="auto-entrepreneur" id="AE"/><label class="radioLabel" for="AE">Auto-entrepreneur</label>
						<input type="radio" name="status" value="société" id="soc"/><label class="radioLabel" for="soc">Société</label>
						<input type="radio" name="status" value="aucun" id="null"/><label class="radioLabel" for="null">Aucun</label>
					</li>
					<li>
						<label for="siren" class="noBold">N° SIRET/SIREN</label>
						<input type="text" id="siren" name="siren" /><a class="ttip solo"></a><span>(facultatif)</span>
					</li>
					<li>
						<label for="rcs" class="noBold">N° RCS</label>
						<input type="text" id="rcs" name="rcs" /><a class="ttip solo"></a><span>(facultatif)</span>
					</li>
					<li>
						<label for="ape" class="noBold">CODE APE</label>
						<input type="text" id="ape" name="ape" /><a class="ttip solo"></a><span>(facultatif)</span>
					</li>
					<li>
						<label for="tva" class="noBold">N° TVA</label>
						<input type="text" id="tva" name="tva" /><a class="ttip solo"></a><span>(facultatif)</span>
					</li>

				</ul>
			</section>

			<section class="article material">
				<h2 class="title ml underlined">5. Message ou informations complémentaires <span class="smaller">(facultatif)</span></h2>
				<textarea id="largeMessage" name="message" class="large"></textarea>
			</section>

			<section class="article centered">
				<input type="submit" value="Valider" />
				<h3 class="title xl noCaps noMarg">Documents obligatoires</h3>
				<p><strong>Ils vous seront demandés lors de votre adhésion</strong></p>
				<ul class="list dash">
					<li>Assurance du véhicule <a href="#" class="smaller">Vous n'avez pas de véhicule ?</a></li>
					<li>Assurance de transport de personnes <a href="#" class="smaller">Qu'est ce que c'est ?</a></li>
					<li>Permis de conduire délivré en UE <a href="#" class="smaller">Pourquoi est-ce obligatoire ?</a></li>
					<li>Controle technique annuel <a href="#" class="smaller">Pourquoi tous les ans ?</a></li>
				</ul>
			</section>
		</form>
	</article>
</div>