---
title: Chauffeur-privé - B2B choice
---

<div class="rowFluid splitScreen centered">
	<div class="medium-6 columns">
		<div class="row left">
			<%= image_tag "anim-berline.gif", :alt=>"Je possède une voiture adaptée" %>
			<h2 class="title ml">Chauffeur Berline</h2>
			<p>Votre véhicule doit être une <strong>berline haut de gamme de moins de 3 ans.</strong></p>
			<p>Avec intérieur entièrement de <strong>cuir</strong>, transmission <strong>automatique</strong>, de préférence de <strong>couleur sombre</strong> et correspondant à l'un des modèles suivants :</p>
			<ul class="list dots smaller">
				<li>Audi (A6, A7, A8, Q7)</li>
				<li>BMW (Série 5, Serie 5 GT, Serie 7, X5, X6)</li>
				<li>Chrysler 300C</li>
				<li>Citroën C6</li>
				<li>Infiniti (M30 & M35)</li>
				<li>Jaguar (XF & XJ)</li>
				<li>Lancia Thema</li>
				<li>Lexus IS300H</li>
				<li>Mercedes (Classe E, S, CLS, ML, GLK)</li>
				<li>Mercedes Viano (Noir + salon)</li>
				<li>Porsche (Cayenne & Panamera)</li>
				<li>Range Rover HSE</li>
				<li>Tesla S</li>
				<li>Volkswagen (Phaeton & Touareg)</li>
			</ul>
			<%= link_to "Je souhaite rejoindre la gamme Berline", "form.html", :class=> "button" %>
		</div>
	</div>
	<div class="medium-6 columns">
		<div class="row right">
			<%= image_tag "anim-eco.gif", :alt=>"Je ne possède pas de voiture adaptée" %>
			<h2 class="title ml">Chauffeur eco</h2>
			<p>Votre véhicule doit être une <strong>berline standard de moins de 3 ans.</strong></p>
			<p>De préférence de <strong>couleur sombre</strong> et correspondant à l'un des modèles suivants :</p>
			<ul class="list dots">
				<li>Audi (A4, A5, Q5)</li>
				<li>BMW (Serie 3, Serie 3 GT, X3)</li>
				<li>Citroën (C5 & DS5)</li>
				<li>Chevrolet (Malibu & Captiva)</li>
				<li>Ford Mondeo (2012 et +)</li>
				<li>Hyundai I40</li>
				<li>Infiniti Q50</li>
				<li>Kia (Optima & Sportage)</li>
				<li>Lexus 450H</li>
				<li>Mazda 6</li>
				<li>Mercedes (Classe C & CLA)</li>
				<li>Opel Insigna</li>
				<li>Peugeot 508</li>
				<li>Renault (Laguna 3 & Latitude)</li>
				<li>Skoda (Superb & Octavia)</li>
				<li>Tesla X</li>
				<li>Toyota Avensis</li>
				<li>Volkswagen (Passat & Passat CC)</li>
				<li>Volvo S60</li>
			</ul>
			<%= link_to "Je souhaite rejoindre la gamme Eco", "form.html", :class=> "button" %>
		</div>
	</div>
</div>